@charset "utf-8";

/* 공통 */
html, body, button {
    font-family: 'SUIT', sans-serif;
}

.hide {
    display: none;
}

.italic {
    font-style: italic;
}

:root {
    --black: #222;
    --white: #fff;
    --blue: #00ffff;
    --pink: #ff0072;
}

.wrap {
    color: var(--white);
    background-color: var(--black);
}

.inner {
    position: relative;
}


/* 헤더 영역 */
.logoWrap, .iconWrap {
    position: fixed;
    z-index: 999;
}

.logoWrap {
    left: 1em;
    top: 1em;
    font-size: 1.3em;
    transition: all .5s ease-in-out;
    text-shadow: 0 0 0 transparent,0 0 0 transparent;
    color: var(--blue);
    overflow: visible;
}

.logoWrap:hover, .iconWrap .icon:hover {
    color:white;
    text-shadow: 0 0 10px var(--pink),0 0 50px var(--pink);
}

.fixedWrap {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.iconWrap {
    position: relative;
    background-color: #000;
    border-radius: 20px;
    width: 3em;
    height: 5.5em;
}

.iconWrap .iconLink:nth-child(1) {
    position: absolute;
    font-size: 1em;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
}

.iconWrap .iconLink:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
}
.iconWrap .icon {
    margin: 0 10px;
    font-size: 1.3em;
    color: var(--blue);
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}


/* 메인 영역 */
.introWrap {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% auto;
}

.introListWrap {
    position: relative;
    padding: 8vw;
    cursor: pointer;
}

.introListWrap .introList {
    position: absolute;
    top: 50%;
    line-height: 1.6;
    border-radius: 20px;
    padding: 4vw;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.introListWrap .introList .intro {
    font-size: 1.3em;
    line-height: 2;
}

.introListWrap .intro.resume {
    position: relative;
}

.introListWrap .intro.resume::before,
.introListWrap .intro.resume::after  {
    content: '';
    display: block;
    position: absolute;
    bottom: -100px;
    width: 15px;
    height: 15px;
    border-left: none;
    border-top: none;
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.introListWrap .intro.resume::before {
    left: -8px;
    animation: arrow1 1s infinite ease-out;
}

.introListWrap .intro.resume::after {
    left: 8px;
    animation: arrow2 1s infinite ease-out;
}

@keyframes arrow1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: 5px;
    }
}

@keyframes arrow2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: 15px;
    }
}

.introListWrap .introList .italic {
    color: #00ffff;
    margin-left: -5px;
}

.subIntroWrap {
    width: 100%;
    height: 40vh;
    padding: 8vw;
}

.subIntroWrap .subIntro {
    width: fit-content;
    font-weight: 400;
    line-height: 1.6;
    padding: 2em 0;
    border-bottom: 1px solid #e0e0e0;
}

.subIntroWrap .keyword {
    position: relative;
    font-weight: 600;
    padding-right: 2.8em;
    color: var(--pink);
}

.subIntroWrap .keyword::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 1px;
    background-color: var(--white);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* 원형 animation 영역 */
.circleArea {
    position: relative;
}

.circleArea .circleWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.circleWrap .circle {
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: #2e2e2e;
    border-radius: 50%;
    filter: blur(15px);
}

.circleWrap .circle::before, 
.circleWrap .circle::after {
    position: absolute;
    content : "";
    top: -5%;
    left: -5%;
    height:110%;
    width:110%;
    border-radius:50%;
    opacity:0.5;
    filter: blur(60px);
}

.circleWrap .circle::before {
    background-color:#ff0072;
    z-index: -2;
    animation : backglow1 5s ease infinite;
}

.circleWrap .circle::after {
    background-color:#00ffff;
    z-index: -1;
    animation : backglow2 5s ease infinite;
}

@-webkit-keyframes backglow1 {
    0% {
        transform: translate(10%, 10%) scale(1);
        opacity:0.5;
    }
    25% {
        transform: translate(-10%, 10%) scale(0.8);
        opacity:0.5;
    }
    50% {
        transform: translate(-10%, -10%) scale(1.2);
        opacity:0.8;
    }
    75% {
        transform: translate(10%, -10%) scale(1.1);
        opacity:0.2;
    }
    100% {
        transform: translate(10%, 10%) scale(1);
        opacity:0.5;
    }
}

@keyframes backglow1 {
    0% {
        transform: translate(10%, 10%) scale(1);
        opacity:0.5;
    }
    25% {
        transform: translate(-10%, 10%) scale(0.8);
        opacity:0.5;
    }
    50% {
        transform: translate(-10%, -10%) scale(1.2);
        opacity:0.8;
    }
    75% {
        transform: translate(10%, -10%) scale(1.1);
        opacity:0.2;
    }
    100% {
        transform: translate(10%, 10%) scale(1);
        opacity:0.5;
    }
}

@-webkit-keyframes backglow2 {
    0% {
        transform: translate(-10%, -10%) scale(1);
        opacity:0.5;
    }
    25% {
        transform: translate(10%, -10%) scale(0.8);
        opacity:0.5;
    }
    50% {
        transform: translate(10%, 10%) scale(1.2);
        opacity:0.8;
    }
    75% {
        transform: translate(-10%, 10%) scale(1.1);
        opacity:0.2;
    }
    100% {
        transform: translate(-10%, -10%) scale(1);
        opacity:0.5;
    }
}

@keyframes backglow2 {
    0% {
        transform: translate(-10%, -10%) scale(1);
        opacity:0.5;
    }
    25% {
        transform: translate(10%, -10%) scale(0.8);
        opacity:0.5;
    }
    50% {
        transform: translate(10%, 10%) scale(1.2);
        opacity:0.8;
    }
    75% {
        transform: translate(-10%, 10%) scale(1.1);
        opacity:0.2;
    }
    100% {
        transform: translate(-10%, -10%) scale(1);
        opacity:0.5;
    }
}


/* 텍스트 애니메이션 영역 */
.sectionWrap {
    width: 100%;
    height: 60vh;
    text-align: center;
    display: grid;
    align-items: center;
}

.sectionWrap .word {
    opacity: 0;
    display: inline-block;
    font-size: 5vw;
    padding: 0 0.5em;
    color: var(--black);
    text-shadow: -1px 0 var(--white), 0 1px var(--blue), 1px 0 var(--pink), 0 -1px var(--white);
    transition: all 1s ease-out;
}

.sectionWrap .word.opacity {
    opacity: 1;
}


/* 안내문 영역 */
.workTitleWrap {
    position: relative;
    margin: 20vh 0 30vh 0;
    text-align: center;
    z-index: 1;
}

.workTitleWrap .workTitle {
    font-size: 2vw;
    font-weight: lighter;
    line-height: 3;
}


/* 포폴 영역 */
.workStickyWrap {
    height: 100%;
    display: grid;
    padding-bottom: 30vw;
    grid-template-columns: 40% auto;
}

.workStickyWrap .workLogoWrap {
    padding-left: 2em;
}

.workStickyWrap .workLogo {
    font-size: 5vw;
    padding-top: 1em;
}

.workStickyWrap .work {
    margin-top: 15vw;
}

.workStickyWrap .workBtn {
    display: block;
    padding-top: 10vh;
}

.workImgWrap {
    margin-top: 5vw;
}

.workImgList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2vw;
    grid-gap: 1em;
    margin-top: 16px;
}

.workImgList .workLink {
    position: relative;
    display: block;
    text-align: center;
    padding: 30px 0;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.workImgList .workLink:hover::before {
    opacity: 0.8;
}

.workImgList .workLink::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--white);
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    opacity: 0;
}

.workImgList .workImg {
    width: 100%;
    position: absolute;
    /* left: 50%;
    transform: translate(-50%, -50%); */
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 10px;
    z-index: -1;
}

.workImgList .workImg.studyPage {
    height: 100%;
    width: auto;
    /* left: 0;
    transform: translateY(-50%); */
}

.workImgList .workSubTitleWrap {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.workImgList .workLink:hover .workSubTitleWrap {
    opacity: 1;
}

.workImgList .workSubTitleWrap .workSubTitle {
    margin: 1em auto;
    background-color: var(--black);
    border-radius: 20px;
    padding: 5px 20px;
    color: var(--white);
    font-size: 1em;
    font-weight: lighter;
    width: fit-content;
}

.workStickyWrap.sticky .work {
    margin-top: 0;
}

.workStickyWrap.workStickyWrap2 {
    padding-bottom: 50vh;
}


/* 푸터 */
.workTitleWrap2 {
    margin: 0;
}

.workTitleWrap2 .workTitle {
    text-align: center;
    margin: 0px auto;
    font-size: 1em;
    writing-mode: vertical-lr;
}

.footerWrap {
    height: 100vh;
    text-align: center;
}

.footerWrap .footerTextWrap {
    position: relative;
    z-index: 1;
}

.footerWrap .footerTextWrap .mail {
    font-size: 3vw;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.footerWrap .footerTextWrap .footerTextWord {
    display: inline-block;
}

.footerWrap .circleArea,
.footerWrap .footerTextWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footerWrap .footerTextWrap {
    top: 63%;
}

.footerWrap .footerTextWrap:hover .mail {
    color: var(--blue);
}

.footerWrap .circleWrap .circle {
    width: 35vw;
    height: 35vw;
}